a:link {
    color:cyan
}

a:visited {
    color:darkcyan
}

a:hover {
    color:red
}

a:active {
    color:rebeccapurple;
    font-size: xx-large;
}

body {
    color: cyan;background-color:black;
}

h2 {
 color: orangered;
}

h3 {
 color: green;
}

h4 {
 color: purple;
}

h5 {
 color: indigo;
}

h6 {
 color: indianred;
}