.flex-container{
  background-color: black;
  display: flex;
  justify-content: center;
}

.flex-box{
  background-color: black;
  display: flex;
  justify-content: center;
}

.tahmid-box{
  background-color: black;
  display: flex;
  justify-content: center;
}
  text-align: center;
@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
  .flex-box {
    flex-direction: column;
  }
  .tahmid-box {
    flex-direction: column;
  }
}
.flex-container > div{
    flex-direction: row;
    justify-content: top;
    align-items: top;
    background-color: #9d937d;
    padding: 20px;
    margin: 20px;
  }

.flex-box > div{
    flex-direction: row;
    justify-content: top;
    align-items: top;
    background-color: lightblue;
    padding: 20px;
    margin: 20px;
  }

.tahmid-box > div{
    flex-direction: row;
    justify-content: center;
    background-color: darkblue;
    padding: 20px;
    margin: 20px;
    text-align: center;
  }

a:link {
    color:cyan
}

a:visited {
    color:darkcyan
}

a:hover {
    color:red
}

a:active {
    color:rebeccapurple;
    font-size: xx-large;
}

h2 {
 color: orangered;
}

h3 {
 color: green;
}

h4 {
 color: purple;
}

h5 {
 color: indigo;
}

h6 {
 color: indianred;
}

th, td {
    border: 2px solid grey;
    border-collapse: collapse;
    border-style: outset;
}
tr:hover {
    background-color: blueviolet;
}