a:link {
    color:cyan
}

a:visited {
    color:darkcyan
}

a:hover {
    color:red
}

a:active {
    color:rebeccapurple;
    font-size: xx-large;
}

h2 {
 color: orangered;
}

h3 {
 color: green;
}

h4 {
 color: purple;
}

h5 {
 color: indigo;
}

h6 {
 color: indianred;
}

th, td {
    border: 2px solid grey;
    border-collapse: collapse;
    border-style: outset;
}
tr:hover {
    background-color: blueviolet;
}